/* —— 基础变量覆盖 —— */
:deep(.el-pagination),
:deep(.el-input),
:deep(.el-select) {
  --el-color-primary: #089ead;
  --el-input-focus-border: #089ead;
  --el-input-focus-border-color: #089ead;
  --el-select-focus-border: #089ead;
  --el-select-input-focus-border-color: #089ead;
  --el-pagination-hover-color: #089ead;
  --el-pagination-text-color: #089ead;
}

/* —— 分页按钮状态样式 —— */
:deep(.el-pagination.is-background .el-pager li.is-active),
:deep(.el-pagination.is-background .btn-prev.is-active) {
  background-color: #089ead !important;
  color: #fff;
}

:deep(.el-pagination .el-pager li:hover),
:deep(.el-pagination .btn-next:hover) {
  color: #089ead;
}

:deep(.el-pagination .el-pager li.is-active) {
  background-color: #089ead;
  color: #fff;
}

/* —— 下拉选择框输入样式 —— */
:deep(.el-pagination .el-select .el-input) {
  .el-input__inner:hover,
  .el-input__inner:focus {
    border-color: #089ead;
  }

  .el-input__wrapper {
    &.is-focus,
    &:hover {
      box-shadow: 0 0 0 1px #089ead inset;
    }
  }
}

/* —— 下拉选项列表样式 —— */
:deep(.el-select-dropdown .el-select-dropdown__item:hover),
:deep(.el-select-dropdown .el-select-dropdown__item.selected) {
  background-color: #089ead !important;
  color: #ffffff !important;
}

/* —— 跳页输入框样式 —— */
:deep(.el-pagination__jump .el-input .el-input__wrapper.is-focus),
:deep(.el-pagination__jump .el-input .el-input__wrapper:hover) {
  box-shadow: 0 0 0 1px #089ead inset !important;
}
